.advantages {
  width: 320px;
  padding: 0 20px;
  margin: auto;
}

.advantages__title {
  font-size: 2.88em;
  font-weight: 400;
  color: #111111;
  margin-top: 25px;
  margin-bottom: 38px;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  display: flex;
}

.advantages__icon {
  display: block;
  flex-shrink: 0;
  margin-right: 20px;

  width: 60px;
  height: 60px;
  background: $background-green center no-repeat;
  background-size: 50px;

  &--leaf {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--powder {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--dining {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--clock {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.advantages__description {
  @include font-height(1.11em, 1.3em);
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
  margin-top: 3px;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 768px;
    padding: 0;
  }

  .advantages__title {
    padding: 0 30px;
    font-size: 4.8em;
    margin-top: 39px;
  }

  .advantages__list {
    padding: 0 30px;
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: item_number;
    border-bottom: 1px solid $line-gray-2;
  }

  .advantages__item {
    width: calc(46% - 2px);
    height: 317px;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;

    &::before {
      position: absolute;
      counter-increment: item_number; /* Увеличиваем значение счетчика */
      content: counter(item_number); /* Выводим число */
      color: $background-gray;
      left: 118px;
      top: -30px;
      font-size: 22.4em;
    }
  }

  .advantages__icon {
    width: 80px;
    height: 80px;
    margin-top: 30px;
  }

  .advantages__description {
    @include font-height(1.28em, 1.5em);
    padding: 1px 0 0 0;
    margin-top: 31px;
    width: 245px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: $desktop-width;
    margin: auto;
  }

  .advantages__list {
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }

  .advantages__item {
    width: 245px;
    margin: 0 40px;

    &::before {
      left: 111px;
      top: -31px;
      font-size: 22.5em;
    }
  }

  .advantages__title {
    font-size: 4.79em;
    margin-top: 30px;
    padding: 0 40px;
  }
}
