.button {
  color: $text-white;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $background-green;
  width: 100%;
  padding: 10px 0;
  display: inline-block;

  &--text-small {
    font-size: 1.2em;
  }

  &--gray {
    color: $text-black-2;
    background-color: $background-gray;
  }
}
