.catalog__title {
  font-size: 3em;
  color: $text-black-1;
  font-weight: 400;
}

.catalog__list {
  @include list-reset;
}

.catalog__item-title {
  font-size: 1.4em;
  font-weight: 400;
}

.catalog__item-link {
  color: $text-black-1;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog__text-more {
  font-family: "Arial", "Helvetica", sans-serif;
  color: $text-gray;
}

.catalog__properties {
  font-family: "Arial", "Helvetica", sans-serif;
  color: $text-gray;
}
