.categories {
  width: 320px;
  margin: auto;
}

.categories__list {
  @include list-reset;
}

.categories__item {
  background-color: $background-gray;
  margin: 20px;
  padding: 20px;
}

.categories__title {
  display: flex;
  align-items: center;
}

.categories__image {
  width: 50px;
  height: 50px;
  background: $background-green;
  border-radius: 50%;
  margin-left: 2px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
  }

  &--slim::after {
    background: url("../img/icon-cat-slim.svg") no-repeat center;
    width: 35px;
    height: 49px;
    left: 8px;
    top: -3px;
  }

  &--pro::after {
    background: url("../img/icon-cat-pro.svg") no-repeat center;
    width: 67px;
    height: 28px;
    left: -9px;
    top: 11px;
  }
}

.categories__title-text {
  font-size: 1.92em;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: 16px 19px;
}

.categories__description {
  @include font-height(1.15em, 1.27em);
  font-size: 1.12em;
  line-height: 1.3em;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 18px;
  padding-bottom: 22px;
}

.categories__link {
  font-size: 1.28em;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-black-1;
  margin-top: 5px;
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: url("../img/icon-right-arrow-long.svg") no-repeat center;
    width: 24px;
    height: 11px;
    right: -36px;
    top: 3px;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    width: calc(768px - 60px);
    padding: 0 30px;
  }

  .categories__item {
    margin: 20px 0;
  }

  .categories__image {
    order: 1;
  }

  .categories__title {
    justify-content: space-between;
  }

  .categories__title-text {
    margin: 0;
    font-size: 3em;
  }

  .categories__description {
    @include font-height(1.2em, 1.4em);
    border-bottom: none;
    padding-right: 220px;
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    display: flex;
    width: calc(1300px);
    margin: auto;
  }

  .categories__item {
    width: auto;
    margin: 40px;
  }

  .categories__title {
    justify-content: flex-start;
  }

  .categories__image {
    order: 0;
  }
}
