.catalog-additional {
  width: 320px;
  padding: 20px 20px 36px 20px;
  margin: auto;
}

.catalog-additional__title {
  margin-top: 7px;
  margin-bottom: 32px;
  font-size: 1.91em;
  color: $text-black-1;
  font-weight: 400;
}

.catalog-additional__list {
  @include list-reset;
}

.catalog-additional__item {
  border-top: 1px solid $line-gray-4;
  padding-bottom: 15px;
}

.catalog-additional__item-title {
  font-size: 1.28em;
  font-weight: 400;
  margin: 12px 0 10px 1px;
}

.catalog-additional__item-link {
  text-transform: uppercase;
  text-decoration: none;
  color: $text-black-1;
}

.catalog-additional__properties {
  font-family: "Arial", "Helvetica", sans-serif;
  color: $text-gray;
  margin-left: -3px;
  font-size: 1.1em;
  width: calc(100% + 7px);
}

.catalog-additional__right-col {
  text-align: right;
}

.catalog-additional__order {
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 11px 0;
  font-size: 1.29em;
}

.catalog-additional__offer {
  height: 289px;
}

.catalog-additional__wrapper {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .catalog-additional {
    width: 768px;
    padding: 30px;
  }

  .catalog-additional__title {
    font-size: 2.87em;
    padding: 34px 37px;
    margin: 0 0 44px 0;
  }

  .catalog-additional__item {
    padding: 12px 37px 25px;
    border: 1px solid $line-gray-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .catalog-additional__item-title {
    font-size: 1.6em;
    flex-basis: 50%;
  }

  .catalog-additional__properties {
    @include font-height(1.27em, 0.7em);
    width: 234px;
    flex-basis: 234px;
    margin-right: -4px;

    td:nth-child(1) {
      text-align: right;
    }

    td:nth-child(2) {
      width: 93px;
    }
  }

  .catalog-additional__order {
    margin-top: 14px;
  }

  .catalog-additional__offer {
    margin-top: 69px;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional {
    width: $desktop-width;
    padding: 71px 40px 39px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-additional__wrapper {
    width: 895px;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .catalog-additional__offer {
    width: 245px;
    margin: 0 0 0 40px;
    height: auto;
  }

  .catalog-additional__title {
    flex-grow: 5;
    width: 100%;
    padding: 0 0 34px 0;
  }

  .catalog-additional__list {
    margin: 0;
  }

  .catalog-additional__item {
    padding: 11px 0 14px;
    border: none;
    border-top: 1px solid $line-gray-4;
    border-bottom: 1px solid $line-gray-4;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .catalog-additional__item-title {
    width: 228px;
    margin: 2px 0 0 0;
    flex-basis: auto;
  }

  .catalog-additional__properties {
    width: 293px;
    margin-top: 9px;

    td:nth-child(1) {
      text-align: left;
    }

    td:nth-child(2) {
      width: 93px;
    }
  }

  .catalog-additional__order {
    padding: 11px 0;
    display: block;
    width: 245px;
    margin-left: 0;
    margin-top: 4px;
  }
}
