.contacts {
  background-color: $background-base;
}

.contacts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: auto;
  padding: 26px 0;
}

.contacts__label {
  @include font-height(1.3em, 1.2em);
  text-transform: uppercase;
  color: $text-black-1;
}

.contacts__address {
  @include font-height(1.1em, 1.4em);
  color: $text-gray;
  font-family: "Arial", "Helvetica", sans-serif;
}

.contacts__map {
  height: 250px;
  background: #fdf7f0;
}

@media (min-width: $tablet-width) {
  .contacts__header {
    padding: 50px 0;
  }

  .contacts__label {
    width: 160px;
    font-size: 1.6em;
  }

  .contacts__address {
    width: 160px;
    text-align: right;
  }
}
