.contacts {
  background-color: $background-base;
}

.contacts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 20px;
  margin: auto;

  &--gray {
    background: $background-gray;
  }
}

.contacts__label {
  @include font-height(1.27em, 1.26em);
  text-transform: uppercase;
  color: $text-black-1;
}

.contacts__address {
  @include font-height(1.1em, 1.4em);
  color: $text-gray;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-right: 6px;
}

.contacts__map {
  height: 362px;
  background: #fff2e3;
}

@media (min-width: $tablet-width) {
  .contacts__header {
    width: auto;
    padding: 63px 70px 59px;
  }

  .contacts__label {
    width: 160px;
    font-size: 1.6em;
  }

  .contacts__address {
    @include font-height(1.3em, 1.25em);
    width: 190px;
    height: 79px;
    margin-right: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  .contacts__city {
    margin-top: auto;
  }

  .contacts__map {
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__header {
    position: absolute;
    background: $background-base;
    top: 95px;
    left: 110px;
    padding: 63px 55px 58px 76px;
    width: 570px;
  }

  .contacts__address {
    text-align: left;
  }
}
