.contacts {
  background-color: $background-base;
}

.contacts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 20px;
  margin: auto;

  &--gray {
    background: $background-gray;
  }
}

.contacts__label {
  @include font-height(1.27em, 1.26em);
  text-transform: uppercase;
  color: $text-black-1;
}

.contacts__address {
  @include font-height(1.1em, 1.4em);
  color: $text-gray;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-right: 6px;
}

.contacts__map {
  height: 362px;
  position: relative;
  background: #fdf7f0 url("../img/bg-map-mobile@1x.png") 0 -38px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: contain;
  }
}

.contacts__pin {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 129px;
  top: 139px;
  background: url(../img/map-pin.png) no-repeat;
  background-size: 62px;
}

@media (min-width: $tablet-width) {
  .contacts__header {
    width: auto;
    padding: 49px 70px 59px;
  }

  .contacts__label {
    width: 160px;
    font-size: 1.6em;
  }

  .contacts__address {
    @include font-height(1.3em, 1.25em);
    width: 190px;
    height: 79px;
    margin-right: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  .contacts__city {
    margin-top: auto;
  }

  .contacts__map {
    height: 396px;
    background: url("../img/bg-map-tablet@1x.png") 0 -4px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: contain;
    }
  }

  .contacts__pin {
    width: 110px;
    height: 110px;
    left: 322px;
    top: 146px;
    background: url(../img/map-pin.png) no-repeat;
    background-size: 124px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__header {
    position: absolute;
    background: $background-base;
    top: 95px;
    left: 110px;
    padding: 63px 55px 58px 76px;
    width: 570px;
    z-index: 10;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map {
    background: url("../img/bg-map-desktop@1x.png") 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: contain;
    }
  }

  .contacts__pin {
    left: 998px;
    top: 150px;
    z-index: 5;
  }
}
