.contacts {
  background-color: $background-base;
}

.contacts__header {
  display: flex;
  width: 88%;
  margin: auto;
  padding: 26px 0;
}

.contacts__label {
  @include font-height(1.4em, 1.6em);
  text-transform: uppercase;
  color: $text-black-1;
}

.contacts__address {
  @include font-height(1.2em, 1.6em);
  color: $text-gray;
  font-family: "Arial", "Helvetica", sans-serif;
}

.contacts__map {
  height: 250px;
  background: #fdf7f0;
}
