.copyright {
  width: 88%;
  margin: 0 auto;
}

.copyright__name {
  font-size: 1.26em;
  font-family: "Arial", "Helvetica", sans-serif;
  text-decoration: none;
  color: $text-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0 23px;
}

.copyright__image {
  margin-left: auto;
  margin-top: 2px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 164px;
  }

  .copyright__name {
    font-size: 1.27em;
    justify-content: space-between;
    padding: 15px 0 0 0;
  }

  .copyright__image {
    margin: 0 0 -2px 0;
  }
}
