.example {
  background-color: $background-gray;
  width: calc(320px - 40px);
  padding: 17px 20px;
  margin: auto;
}

.example__image {
  width: 300px;
  height: 232px;
  margin-left: -20px;
  margin-top: 36px;

  &--before {
    background: url("../img/before-mobile@1x.png") no-repeat left top;
  }

  &--after {
    background: url("../img/after-mobile@1x.png") no-repeat left top;
    display: none;
  }
}

.example__title {
  font-size: 2.89em;
  font-weight: 400;
  color: $text-black-1;
  margin: 0;
}

.example__description {
  @include font-height(1.12em, 1.34em);
  font-family: "Arial", "Helvetica", sans-serif;
  color: $text-gray;
  margin-top: 33px;
  padding-right: 1px;
}

.example__info-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.example__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $line-gray-5;
  border-radius: 2px;
  padding: 12px 0 15px;
  width: 122px;
  position: relative;
}

.example__info-value {
  font-size: 1.9em;
  text-transform: uppercase;
  color: $text-black-1;
}

.example__info-label {
  @include font-height(0.97em, 1.1em);
  font-family: "Arial", "Helvetica", sans-serif;
  color: $text-gray;
  background-color: $background-gray;
  position: absolute;
  bottom: -18px;
  width: 60px;
  padding: 0 15px;
  text-align: center;
}

.example__price {
  font-size: 1.12em;
  text-transform: uppercase;
  text-align: center;
  color: $text-black-1;
  margin-top: 36px;

  br {
    display: none;
  }
}

.example__toggle {
  margin-top: 41px;
}

@media (min-width: $tablet-width) {
  .example {
    width: 768px;
    padding: 6px 0;
    background-color: $background-base;
  }

  .example__title {
    font-size: 4.8em;
    width: calc(100% - 60px);
    margin: auto;
  }

  .example__info-wrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 60px);
    margin: auto;
  }

  .example__description {
    @include font-height(1.28em, 1.5em);
    width: calc(100% - 68px);
    padding-right: 8px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  .example__info-list {
    margin-top: 22px;
  }

  .example__info-item {
    width: 160px;
    padding: 16px 0 20px;

    &:first-child {
      margin-right: 42px;
    }
  }

  .example__info-value {
    font-size: 2.37em;
  }

  .example__info-label {
    background-color: $background-base;
    font-size: 1.1em;
    bottom: -8px;
    width: auto;
    padding: 0 10px;
  }

  .example__price {
    @include font-height(1.6em, 1.45em);
    text-align: right;
    margin-left: auto;
    margin-top: 45px;

    br {
      display: block;
    }
  }

  .example__footer {
    background: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 50%, #eaeaea 50%, #eaeaea 100%);
    margin-top: 241px;
    height: 462px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .example__image {
    margin-top: -213px;
    margin-left: 0;
    width: 50%;
    height: 560px;
    position: absolute;

    &--before {
      background: url("../img/before-tablet@1x.png") no-repeat 46px 62px;
      left: 0;
    }

    &--after {
      display: block;
      background: url("../img/after-tablet@1x.png") no-repeat -247px 44px;
      right: 0;
    }
  }

  .example__toggle {
    position: absolute;
    bottom: 73px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: calc(#{$desktop-width} - 80px);
    padding: 40px 40px;
  }
}
