.example {
  background-color: $background-gray;
}

.example__wrapper {
  width: 88%;
  margin: auto;
  padding: 26px 0;
}

.example__image {
  max-width: 100%;
  margin: auto;
  display: block;
}

.example__title {
  font-size: 3em;
  font-weight: 400;
  color: $text-black-1;
  margin: 0;
}

.example__description {
  @include font-height(1.2em, 1.5em);
  font-family: "Arial", "Helvetica", sans-serif;
  color: $text-gray;
}

.example__info-list {
  @include list-reset;
  display: flex;
  justify-content: space-around;
}

.example__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;border: 1px solid #999;
  border-radius: 8px;
  padding: 10px;
  margin-right: 15px;
}

.example__info-value {
  font-size: 2em;
  text-transform: uppercase;
  color: $text-black-1;
}

.example__info-label {
  font-size: 1em;
  font-family: "Arial", "Helvetica", sans-serif;
  color: $text-gray;
}

.example__price {
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: $text-black-1;
}

.example__result {
  display: flex;
  justify-content: space-around;
}

.example__result-label {
  font-size: 1.4em;
  text-transform: uppercase;
  color: $text-black-1;
}

@media (min-width: $tablet-width) {
  .example__title {
    font-size: 5em;
  }

  .advantages__list {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 50%;
  }

  .advantages__description {
    padding: 0;
  }

  .example__info-wrapper {
    display: flex;
    align-items: center;
  }

  .example__price {
    font-size: 1.6em;
    text-align: right;
    width: 180px;
    margin-left: auto;
  }
}
