.example {
  background-color: $background-gray;
}

.example__title {
  @include font-height(3em, 5em);
  color: $text-black-1;
}

.example__description {
  @include font-height(1.2em, 1.5em);
  font-family: "Arial", "Helvetica", sans-serif;
  color: $text-gray;
}

.example__info-value {
  font-size: 2em;
  text-transform: uppercase;
  color: $text-black-1;
}

.example__info-label {
  font-size: 1em;
  font-family: "Arial", "Helvetica", sans-serif;
  color: $text-gray;
}

.example__price {
  @include font-height(1.2em, 1.6em);
  text-transform: uppercase;
  color: $text-black-1;
}

.example__result-label {
  @include font-height(1.4em, 1.6em);
  text-transform: uppercase;
  color: $text-black-1;
}
