.form-program {
  width: 320px;
  padding: 15px 0 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-program__fields {
  padding: 0 20px;

  &--info {
    margin: 24px auto;
  }

  &--comment {
    margin: 15px 0 27px;
  }

  &--task {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 1px $line-gray-1, inset 1px 0 0 0 $line-gray-1, -1px 0 0 $line-gray-1;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &--contacts {
    margin-top: 30px;
  }

  &--additional {
    display: flex;
    flex-direction: column;
  }
}

.form-program__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.form-program__label {
  font-size: 1.28em;
  text-transform: uppercase;
  position: relative;
}

.form-program__input {
  flex-grow: 1;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 1.28em;
  margin-left: 13px;
  padding: 12px 13px 13px 14px;
  border: 1px solid $line-gray-2;
  order: 1;

  &:hover {
    border-color: $line-gray-5;
  }

  &:focus {
    outline: 2px solid $line-gray-6;
  }

  &:focus ~ .form-program__label {
    fill: #68b738;
  }

  &:invalid {
    outline-color: $line-red;
  }

  &:invalid ~ .form-program__label {
    fill: #ff8282;
  }

  &--email {
    padding-right: 50px;
  }

  &--comment {
    padding-top: 12px;
    margin-left: 0;
    min-width: 100%;
    height: 150px;
  }

  &::placeholder {
    color: $text-black-1;
    font-size: 1.28em;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
  }
}

.form-program__mail-icon {
  position: absolute;
  display: block;
  width: 17px;
  height: 13px;
  left: 247px;
  top: 2px;
}

.form-program__tel-icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 247px;
  top: -1px;
}

.form-program__toggle {
  display: none;
}

.form-program__btn {
  font-size: 1.28em;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $line-gray-4;
  position: relative;
  margin-bottom: 12px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: $background-green;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: scale(0);
    transition: 0.1s;
  }

  &:hover {
    border-color: $line-gray-7;
  }

  &:active {
    opacity: 0.3;
  }

  .form-program__name {
    padding-left: 45px;
    padding-top: 6px;
    display: block;
    width: 230px;
  }
}

.form-program__toggle:checked + .form-program__btn::before {
  transform: scale(1);
}

.form-program__title {
  @include font-height(1.91em, 1.01em);
  display: flex;
  font-weight: 300;
  position: relative;
  margin: 0 0 33px;

  &--2 {
    margin-bottom: 34px;
  }
}

.form-program__checkbox {
  font-size: 1.28em;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $line-gray-5;
  position: relative;
  margin-bottom: 12px;
  order: 1;

  &:hover {
    border-color: $line-gray-7;
  }

  &:active {
    opacity: 0.3;
  }

  .form-program__heading {
    padding-left: 45px;
    padding-top: 6px;
    display: block;
    width: 200px;
  }
}

.form-program__line {
  position: relative;
}

.form__icon-checkbox {
  pointer-events: none;
  opacity: 0;
  transition: 0.1s;
  fill: $background-green;
  position: absolute;
  top: 8px;
  left: 5px;
}

.form-program__toggle:checked ~ .form__icon-checkbox {
  opacity: 1;
}

.form-program__warning {
  text-align: center;
  color: $text-black-1;
  font-size: 1.12em;
  font-family: "Arial", sans-serif;
  margin-top: 21px;
}

.form-program__wrapper-button {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 24px 20px 8px;
}

.form-program__button {
  font-size: 1.27em;
  border: none;
  padding: 11px 0 11px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .form-program {
    width: 768px;
    padding-top: 34px;
  }

  .form-program__element {
    margin: 0 0 20px;
    padding: 0 45px;
  }

  .form-program__input {
    font-size: 1.64em;
    margin-left: 17px;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 18px;

    &--comment {
      margin: 0;
      padding: 14px 18px;
      height: 174px;
    }
  }

  .form-program__comment-wrapper {
    padding: 0 47px 0 50px;
  }

  .form-program__label {
    font-size: 1.62em;
    padding-left: 5px;
  }

  .form-program__fields {
    &--info {
      margin-top: 30px;

      &::after {
        border: 0;
      }
    }

    &--task {
      box-shadow: none;
      padding-right: 0;
    }

    &--contacts {
      margin-top: 65px;
    }

    &--comment {
      margin-top: 45px;
      margin-bottom: 63px;
    }
  }

  ::-webkit-input-placeholder {
    font-size: 20px;
  }

  ::-moz-placeholder {
    font-size: 20px;
  }

  :-moz-placeholder {
    font-size: 20px;
  }

  :-ms-input-placeholder {
    font-size: 20px;
  }

  .form-program__box {
    border: 1px solid $line-gray-2;
    border-right: none;
    margin-top: 28px;
    margin-left: 51px;
    padding: 24px 0 14px 27px;
  }

  .form-program__btn {
    width: 40px;
    height: 40px;

    &::before {
      width: 18px;
      height: 18px;
    }

    .form-program__name {
      padding-top: 3px;
      width: 600px;
    }
  }

  .form-program__name {
    font-size: 1.26em;
    margin-left: 12px;
    margin-top: 5px;
  }

  .form-program__title {
    font-size: 2.87em;
    margin-left: 50px;
    margin-bottom: 76px;

    &--1 br {
      display: none;
    }

    &--3 {
      margin-bottom: 57px;
    }
  }

  .form-program__wrapper--line3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 0 50px;
  }

  .form-program__heading {
    font-size: 1.26em;
    margin-top: 5px;
    margin-left: 12px;
  }

  .form-program__checkbox {
    width: 40px;
    height: 40px;

    .form-program__heading {
      padding-top: 3px;
    }
  }

  .form-program__line {
    width: calc(50% - 5px);
    margin-bottom: 20px;
  }

  .form__icon-checkbox {
    top: 12px;
    left: 10px;
  }

  .form-program__wrapper-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 22px 70px;
    margin-bottom: 50px;
  }

  .form-program__button {
    width: 283px;
    height: 52px;
    font-size: 20px;
  }

  .form-program__warning {
    font-size: 16px;
    margin: 0 0 0 62px;
  }

  .form-program__tel-icon {
    margin-left: 353px;
    top: 2px;
  }

  .form-program__mail-icon {
    margin-left: 353px;
    top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .form-program {
    width: 1300px;
    padding-top: 37px;
  }

  .form-program__wrapper {
    &--line1 {
      display: flex;
      justify-content: space-between;
    }

    &--line2 {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
    }

    &--line3 {
      width: 1240px;
      padding-left: 20px;
    }
  }

  .form-program__comment-wrapper {
    padding: 2px 37px 0 3px;
  }

  .form-program__title {
    margin-left: 20px;

    &--1 {
      margin-bottom: 77px;
    }

    &--2 {
      margin-bottom: 74px;
    }
  }

  .form-program__line {
    width: 245px;
  }

  .form-program__fields {
    &--info {
      width: 650px;
      padding: 28px 0;
      margin: 0;
    }

    &--task {
      padding: 0 40px 0 0;
    }

    &--contacts {
      margin-top: 20px;
    }

    &--comment {
      margin-top: 47px;
      margin-bottom: 65px;
    }
  }

  .form-program__element {
    padding: 0 40px;

    &--full {
      padding: 0;
      width: 592px;
    }
  }

  .form-program__label {
    padding: 0;
  }

  .form-program__box {
    width: 570px;
    margin-left: 40px;
    border-right: 1px solid $line-gray-2;
  }

  .form-program__input {
    margin-left: 17px;
    font-size: 1.64em;
    font-family: "Oswald", "Arial", sans-serif;
    height: auto;
    padding: 13px 0 14px 17px;

    &--email {
      margin-left: 20px;
    }

    &--comment {
      height: 174px;
      padding: 14px 0 14px 18px;
    }
  }

  .form-program__tel-icon {
    margin-left: 284px;
  }

  .form-program__mail-icon {
    margin-left: 286px;
  }

  .form-program__wrapper-button {
    width: 870px;
    justify-content: space-between;
    margin: 0;
    padding: 29px 0 82px 40px;
  }

  .form-program__button {
    width: 570px;
    margin: 0;
  }

  .form-program__warning {
    margin: auto 0;
  }
}
