.main-nav {
  width: 320px;
  margin: auto;
}

.main-nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  text-align: center;
  border-bottom: 1px solid $line-gray-2;
  position: relative;
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 500;
  color: $text-black-1;
  text-align: center;
  padding: 21px 0;
  display: inline-block;
  width: 100%;

  &--logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 11px 0 16px;
  }

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  margin-left: -14px;
  width: 33px;
  height: 38px;

  img {
    width: 100%;
    height: 100%;
  }
}

.main-nav__logo-name {
  margin-left: -12px;
  margin-top: 5px;

  &--tablet,
  &--desktop {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 23px;
  top: 23px;
  width: 18px;
  height: 18px;

  &--open {
    right: 20px;
    top: 21px;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__toggle--close {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--opened .main-nav__toggle--open {
    display: none;
  }

  .main-nav--opened .nav__toggle--close {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    padding-top: 22px;
    margin: 0 0 0 auto;
  }

  .main-nav__list {
    padding: 0 30px;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main-nav__item {
    border-bottom: none;

    &--active::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 9px;
      left: 0;
      background: $background-green;
      height: 2px;
      width: 100%;
    }
  }

  .main-nav__item:not(:first-child) {
    margin-left: 36px;
  }

  .main-nav__link {
    font-weight: normal;
    font-size: 1.44em;
    margin-top: 1px;

    &--main {
      color: $text-white;
    }

    &--logo {
      display: flex;
      justify-content: flex-start;
    }
  }

  .main-nav__toggle {
    margin-right: 0;
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding-top: 54px;
    width: calc(50% - 40px);
  }

  .main-nav__list {
    width: auto;
    max-width: inherit;
    padding: 0 40px 0 21px;
    justify-content: center;

    &--main {
      .main-nav__item--active::after {
        background-color: $background-base;
      }
    }
  }

  .main-nav__link {
    font-size: 1.59em;
    margin-top: 0;

    &--logo {
      padding-top: 9px;
    }
  }

  .main-nav__list--main .main-nav__link {
    color: $text-white;
  }

  .main-nav__item {
    &--active::after {
      bottom: 10px;
    }
  }

  .main-nav__logo-name {
    width: 202px;
    height: 59px;
    margin-left: 0;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
