.main-nav__list {
  @include list-reset;
  background-color: $background-base;
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  text-align: center;

  &:not(:last-child) {
    border-bottom: 1px solid $line-gray-2;
  }
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 500;
  color: $text-black-1;
  text-align: center;
  padding: 21px 0;
  display: inline-block;
  width: 100%;

  &--logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 13px 0 14px;
  }
}

.main-nav__logo-image {
  margin-left: -13px;
}

.main-nav__logo-name {
  margin-left: -10px;
}

.main-nav__toggle {
  margin-right: -9px;
  overflow: hidden;
  text-indent: -9999px;
  background: $text-black-2;
  border: none;
  width: 18px;
  height: 18px;
}
