.select-program__title {
  font-size: 3em;
  color: $text-black-1;
  font-weight: 400;
  width: 320px;
  padding: 20px;
  margin: auto;
}

.select-program__text {
  @include font-height(1.2em, 1.5em);
  text-transform: uppercase;
  width: 320px;
  padding: 0 20px 0;
  margin: auto;
}

.select-program__form {
  width: 320px;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .select-program__title {
    font-size: 5em;
    width: 768px;
    padding: 30px;
  }

  .select-program__text {
    width: 768px;
    padding: 0 70px 20px;
  }

  .select-program__form {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .select-program__title {
    width: calc(#{$desktop-width} - 80px);
    padding: 0 40px;
  }

  .select-program__text {
    width: calc(#{$desktop-width} - 80px);
    padding: 0 40px;
  }

  .select-program__form {
    width: 1300px;
  }
}
