.select-program__title {
  width: 320px;
  margin: auto;
  padding: 24px 20px 33px;
  font-size: 2.88em;
  color: $text-black-1;
  font-weight: 400;
}

.select-program__text {
  @include font-height(1.12em, 1.4em);
  width: 320px;
  margin: 0 auto 0;
  text-transform: uppercase;
  padding: 0 40px 0 20px;
}

@media (min-width: $tablet-width) {
  .select-program__title {
    font-size: 4.79em;
    padding: 39px 30px 51px;
    width: 768px;
  }

  .select-program__text {
    @include font-height(1.6em, 1.5em);
    width: 768px;
    margin: auto;
    padding: 0 370px 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .select-program__title {
    width: $desktop-width;
    padding: 0 40px;
    margin: 55px auto 52px;
  }

  .select-program__text {
    width: $desktop-width;
    padding: 0 900px 0 40px;
    line-height: 1.54em;
  }
}
