.social {
  background-color: $background-gray;
  padding: 8px 0 4px;
  width: 88%;
  margin: 0 auto;
}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0 3px;
}

.social__link {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;

  &:hover .social__icon {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  display: none;
  position: absolute;
  fill: #666666;

  &--mobile {
    display: block;
  }

  &--vkontakte {
    width: 22px;
    height: 12px;
    left: 11px;
    top: 18px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
    left: 16px;
    top: 16px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
    left: 18px;
    top: 14px;
  }
}

@media (min-width: $tablet-width) {
  $width: 60 + 164 + 164;

  .social {
    width: calc(768px - #{$width}px);
  }

  .social__icon {
    display: block;

    &--mobile {
      display: none;
    }

    &--vkontakte {
      width: 30px;
      height: 16px;
      left: 8px;
      top: 12px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
      left: 12px;
      top: 9px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
      left: 10px;
      top: 6px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding-top: 10px;
  }

  .social__icon {
    &--vkontakte {
      top: 11px;
    }

    &--instagram {
      top: 8px;
    }

    &--facebook {
      top: 5px;
    }
  }
}
