.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 194px;
}

.toggle__label {
  font-size: 1.28em;
  text-transform: uppercase;
  color: $text-black-1;

  &--after {
    margin-right: -4px;
  }
}

.toggle__wrapper {
  background-color: $background-base;
  border: 1px solid $line-gray-4;
  border-radius: 6px;
  width: 84px;
  height: 14px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
  margin-left: 7px;
  margin-right: 5px;
}

.toggle__bar {
  display: block;
  width: 48%;
  height: 6px;
  background-color: $background-green;
  border-radius: 8px;
}

@media (min-width: $tablet-width) {
  .toggle {
    width: 569px;
  }

  .toggle__wrapper {
    border: none;
    background: $background-gray-2;
    width: 100%;
    padding: 0;
    height: 6px;
    margin: 0 22px 0 24px;
    position: relative;
  }

  .toggle__bar {
    border: 1px solid $line-gray-4;
    background: $background-base;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 16px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      background: $background-green;
      border-radius: 50%;
      left: calc(50% - 4px);
      top: calc(50% - 4px);
    }
  }

  .toggle__label {
    font-size: 1.56em;

    &--after {
      margin-right: 0;
    }
  }
}
