$background-green: #68b738;
$background-gray: #f2f2f2;
$background-base: #ffffff;

$text-black-1: #111111;
$text-black-2: #222222;
$text-white: #ffffff;
$text-gray: #444444;
$text-pink: #d24899;

$line-gray-1: #ededed;
$line-gray-2: #e6e6e6;
$line-gray-3: #d9d9d9;
$line-gray-4: #cdcdcd;
