// ------------------------------------------ //
// GENERAL
// ------------------------------------------ //
@import "normalize";
@import "variables";
@import "fonts";
@import "mixins";
@import "common";

// ------------------------------------------ //
// BLOCKS
// ------------------------------------------ //
@import "blocks/advantages";
@import "blocks/button";
@import "blocks/cat-action";
@import "blocks/catalog";
@import "blocks/catalog-additional";
@import "blocks/categories";
@import "blocks/contacts";
@import "blocks/copyright";
@import "blocks/example";
@import "blocks/form-program";
@import "blocks/main-nav";
@import "blocks/order-offer";
@import "blocks/page-footer";
@import "blocks/page-header";
@import "blocks/page-main";
@import "blocks/progress";
@import "blocks/select-program";
@import "blocks/social";
